{% extends 'index.html' %}
{%load static%}
{% block welcome_message %}
<!-- You can put a welcome message here or leave empty -->
{% endblock %}

{% block body_block %}
<h2>Upload Course from Excel</h2>
<form method="POST" enctype="multipart/form-data" style="display: flex; flex-direction: column; gap: 10px; max-width: 300px;">
    <a href="{% static 'course.xlsx' %}" download>Download Sample Excel File</a>
    {% csrf_token %}

    <label>
        Upload Course Excel File:
        {{ form.file1 }}
    </label>

    <button type="submit" class="btn btn-primary">Upload</button>

</form>
{% endblock %}