{% extends 'index.html' %}

{% block welcome_message %}
<h2>Enrolled List</h2>
<!-- You can put a welcome message here or leave empty -->
{% endblock %}

{% block body_block %}




<table>
    <thead>
        <tr>
            <th>Student Name</th>
            <th>Qualification</th>
            <th>Courses</th>
            <th>First Enrolled On</th>
        </tr>
    </thead>
    <tbody>
        {% for student in grouped_enrollments %}
        <tr>
            <td>{{ student.student_name }}</td>
            <td>{{ student.qualification }}</td>
            <td>{{ student.course_names }}</td>
            <td>{{ student.first_enrolled_on }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
