{% extends 'index.html' %}

{% block welcome_message %}
<!-- You can put a welcome message here or leave empty -->
{% endblock %}

{% block body_block %}

    <h1>Todos List</h1>
     <div style="display: flex; justify-content: flex-end; margin-bottom: 10px;">
        <a href="{% url 'upload_todo' %}" class="btn btn-primary">Upload Excel</a>
    </div>
    <table class="table">
      <tr>
          <th>Task</th>
          <th>User</th>
          <th>Status</th>
          <th>Edit</th>
          <th>Delete</th>
      </tr>
      {% for todo_obj in todos %}
      <tr>
          <td>{{ todo_obj.task_name | upper }}</td>
          <td>{{ todo_obj.user }}</td>
          <td>{{ todo_obj.status | default:"No data" }}</td>
          <td><a href="{% url 'edit' todo_obj.id  %}">Edit</td>
            <td><a href="{% url 'delete' todo_obj.id %}">Delete</td>
              
      </tr>
      
      {% endfor %}
  </table>
  
{% endblock %}
